:root {
	font-size: 24px;
}

body {
	background: linear-gradient(90deg, rgb(30, 0, 120), rgb(80, 0, 80));
	color: white;

	display: flex;
	flex-direction: column;
	align-items: center;

	min-height: 100vh;
	padding: 10vh 20vw;
}

div#data {
	margin-bottom: 64px;
	text-align: center;
}

h1#location {
	font-size: 4rem;
	text-transform: uppercase;
}

p#time {
	font-size: 1.25rem;
	font-weight: 150;
	letter-spacing: 1ch;
}

div#data-container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-top: 64px;
	margin-bottom: 32px;

	font-size: 1.5rem;
	font-weight: 300;
	gap: 64px;
}

p#condition {
	font-size: 2rem;
}
